.icon {
    font-size: 15px;
}

.button-icon {
    border-style: hidden;
    background-color: white;
}

.button-icon:hover {
    background-color: yellow;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.popup-link {
    color: blue;
}

.close {
    color: red;
    text-decoration: none;
    float: right;
}