.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    margin: 0;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    background-color: darkgreen;
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: rgb(73, 136, 73);
    color: white;
}

.navbar .navbar-nav .nav-link.active:hover {
    background-color: rgb(2, 34, 2);
    color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: rgb(167, 223, 167);
}

H5 {
    color:crimson;
}

