td {
    border-collapse: collapse;
    font-size: 20px;
    border: 6px solid #2eb872;
    padding: 50px;
    color: black;
}

th {
    border-collapse: collapse;
    font-size: 25px;
    padding: 50px;
    border: 6px solid #2eb872;
    font-weight: 2px bolder;
    font-style: italic;
    color: black;
}