.produto_container {
    display: flex;
    justify-content: start;
}

.produto {
    display: flex;
}

.detalhes {
    flex-basis: 53%;
    padding: 20px;
    padding-left: 60px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 900px;
}

table td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    padding: 50px;
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 25px;
    padding: 50px;
    font-weight: bolder;
}